h1 {
  color: #0000ff;
  font-weight: bold;
  text-align: center;
}

.bgColor{
  color: #c5d6ca
}



.myFont{
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  line-height: 25px;
}

.mySmallerFont{
  font-weight: lighter;
  font-style: italic;
  font-size: 10px;
  line-height: 25px;
}

.myMonsterFont{
  font-weight: bolder;
  font-style: italic;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.my_pgBordersBlack {
  border: 10px solid black;
  padding: 5px;
  margin: 5px;
  background-color: light green;
}

.my_pgBordersBlue {
  border: 10px solid #83a5db;
  padding: 5px;
  margin: 5px;
  background-color: light green;
}
