img{
  float: left;
  padding: 8px;
}

h1 {
  color: #0a5b3b;
  font-weight: bold;
  text-align: center;
}

.bgColor{
  color: #c5d6ca
}

.dPen{
  font-style: italic;
  color: orange;
}


.myFonty{
  font-weight: bold;
  color: #abc4a1;
  font-size: 15px;
  line-height: 25px;
}

.mySmallerFont{
  font-weight: lighter;
  font-style: italic;
  font-size: 10px;
  line-height: 25px;
}

.myFont{
  color: 0a5b3b
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
}


.my_pgBordersOuter {
  border: 10px solid #0a3859;
  padding: 5px;
  margin: 5px;
  background-color: light green;
}

.my_pgBordersInner {
  border: 10px solid #83a5db;
  padding: 5px;
  margin: 5px;
  background-color: light green;
}
