h1 {
  color: #0000ff;
  font-weight: bold;
  text-align: center;
}

p.myFont {
  font-family: sans-serif;
}

.myFont{
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  line-height: 25px;
}

.mySmallerFont{
  font-weight: lighter;
  font-style: italic;
  font-size: 10px;
  line-height: 25px;
}

.myMonsterFont{
  font-weight: bolder;
  font-style: italic;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
